{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<!-- New MCDatepicker CSS -->
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<!-- MCDatepicker JS -->
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<script defer src="{% static 'js/trip-detail.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/trips/trip-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="trip-container">
    <div class="trip-img">
        <img src="" alt="" />
    </div>
    <div class="trip-details">
        <h1>{{ trip.name }}</h1>
        <h2> {{ trip.destination }}</h2>
        <h3> {{ trip.start_date }} to {{ trip.end_date }} ({{ trip.duration_days }} days)</h3>

        {% if trip_status == 'past' %}
            <h3 style="color: gray;">This trip has already ended!</h3>
        {% elif trip_status == 'current' %}
            <h3 style="color: green;">This trip is currently in progress!</h3>
        {% elif trip_status == 'upcoming' %}
        <h3 style="color: blue;">This trip is coming up soon! </h3>
        {% endif %}

        {% if trip.notes %}
            <h4>Notes</h4>
            <p>{{ trip.notes }}</p>
        {% endif %}       
    </div>
    
    <div class="trip-actions">
        <a href="{% url 'trip-update' trip.id %}" class="btn warn">Edit</a>
        <a href="{% url 'trip-delete' trip.id %}" class="btn danger">Delete</a>
    </div>
    
</section>


<div class="itineraries-packitem-container">
    <section class="itineraries">
      <div class="subsection-title">
        <h2>Itinerary</h2>
        <img
          src=""
          alt=""
        />
        <img 
            src="" 
            alt=""
        />
        <img
          src=""
          alt=""
        />
      </div>

      <h3>Add Itinerary</h3>
       <form
       action="{% url 'add-itinerary' trip.id %}"
       method="post" 
       class="subsection-content" 
       autocomplete="off"
       >
        {% csrf_token %}
        {{itinerary_form.as_p }}
        <button type="submit" class="btn submit">Add Itinerary</button>
       </form>


    <h3>Itinerary</h3>
    {% if trip.itinerary_set.all.count %}
    <div class="table-scroll">

      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Time of Day</th>
            <th>Type</th>
            <th>Activity</th>
            <th>Address</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for itinerary in trip.itinerary_set.all %}
            <tr>
              <td>{{itinerary.date}}</td>
              <td>{{itinerary.time|default:"—"}}</td>
              <td>{{itinerary.get_type_display}}</td>
              <td>{{itinerary.activity }}</td>
              <td>{{ itinerary.address|default:"—" }}</td>
              <td>{{ itinerary.description|linebreaksbr|default:"—" }}</td>
              <td>
                <div class="trip-actions">
                    <a href="{% url 'itinerary-update' itinerary.id %}" class="btn warn">Edit</a>
                    <a href="{% url 'itinerary-delete' itinerary.id %}" class="btn danger">Delete</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
      <div class="subsection-content">
        <p>⚠️ {{trip.name}} has no itinerary added yet!</p>
      </div>
    {% endif %}
    </section>

    <section class="packitems">
      <div class="subsection-title">
        <h2>Pack Items</h2>
        <img src="" alt="" />
        <img src="" alt="" />
        <img src="" alt="" />
      </div>
      
      
      <div class="subsection-content">
        {% if trip.packing_items.count %}
        <h3>Items already packed 🥳</h3>
          {% for item in trip.packing_items.all %}
            <div class="packitem-container">
              <div class="color-block" style="background-color: {{ toy.color }}"></div>
                <p>{{ item.name }} x {{ item.quantity }}</p>
              <form action="{% url 'remove-packitem' trip.id item.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Unpack</button>
              </form>
            </div>
          {% endfor %} 
        {% else %}
          <p class="no-packitems">{{trip.user.username}} hasn't packed anything yet!!!🙄</p>
        {% endif %}
      </div>


      <h3>Available/Sugguest Items</h3>
      <div class="subsection-content">
        {% if availabe_items %}
        {% for item in availabe_items %}
          <div class="packitem-container">
            <div class="color-block" style="background-color: {{ toy.color }}"></div>
            <p>{{ item.name }} x {{ item.quantity }}</p>

            <form action="{% url 'associate-packitem' trip.id item.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn submit">Packed!</button>
            </form>
          </div>
        {% endfor %}
        {% else %}
        <p class="all-packitems">You already packed all the available items {{trip.name}} 🥳</p>

        {% endif %}
      </div>
    </section>
</div>


{% endblock %}