{% extends 'base.html' %}
 
 {% block content %}
 <h1>About Explo</h1>
 <h>Say goodbye to scattered notes and stressful packing. Our app brings everything together to help you plan, organize, and enjoy your trips—start to finish. Create custom trips, build detailed itineraries for each day, and manage packing lists with smart category suggestions so you never forget a thing.

    Whether you're heading to a beach escape, a business conference, or a weekend getaway, our intuitive platform helps you stay on track, on time, and fully prepared.
    
    Start planning smarter and experience travel the way it should be—easy, organized, and unforgettable.</p>
 <h2>Contact Details</h2>
 <p>{{ contact }}</p>
 {% endblock %}